.poster{
    width: 250px;
    height: 300px;


}


.arrow{
    font-size: 60px;
   color: #901818;
   float: left;
   padding: 30px;
}

.detail{
    display:flex;
    justify-content: space-around;
    padding: 60px;
}

.title--detail{
    color: #901818;
    padding: 40px;
}

.description--detail{
    /* max-width: 300px; */
    display:flex;
    /* justify-content: space-around; */
}

.video{
    width: 560px;
    height: 315px;
    margin-right: 200px;
}